<%= render 'shared/messages_menu' %>
<h4>Date</h4>

<h4>To</h4>
<lavel>
<%= @message.recepient_id %>
</label>
<h4>Subject</h4>
<label>
  <%= @message.subject %>
</label>
<h4>Content</h4>
<label>
  <%= @message.body %>
</label>
